.about-header {
  background: $mainGreen;
  position: relative;
  color: #fff;
  height: 100vh;
  text-align: center;
  overflow: hidden;

  .pt1-a {
    width: 12rem;
    position: absolute;
    bottom: 0;
    right: -6rem;
  }

  .hero-text {
    p {
      &::before {
        background: $lightRed;
      }
    }
  }
}

@media (min-width: 1100px) {
  .about-header {
    .hero-text {
      p {
        min-width: 700px;
      }
    }
  }
}
