//colors

$lightGreen2: rgb(153, 167, 169);
$mainGreen: rgb(1, 78, 86);
$darkGreen: rgb(1, 47, 52);
$lightGreen: rgb(0, 64, 71);
$lightestGreen: rgb(101, 180, 180);

$cyan: rgb(121, 200, 199);

$lightRed: rgb(246, 126, 126);

// fonts

$font: "Livvic", sans-serif;

//transitions

$trans: all 0.3s ease;
